[Unit]
Description=Delete Useless Timeshift Snapshots ("deltimesh" by ImCatCatcher) 
After=network.target

[Service]
User=root
ExecStart=/usr/bin/deltimesh

[Install]
WantedBy=multi-user.target